---
export const navList = [
  { group: 'Introduction', title: 'What is GAGU?', path: 'what-is-gagu' },
  { group: 'Introduction', title: 'Origin', path: 'origin' },
  { group: 'Introduction', title: 'Installation', path: 'installation' },
  { group: 'Usage', title: 'Basic Usage', path: 'basic-usage' },
  { group: 'Usage', title: 'Scenes', path: 'scenes' },
  { group: 'Usage', title: 'Change Log', path: 'change-log' },
]

const grouppedNavList = Array.from(new Set(navList.map(o => o.group))).map(group => {
  return {
    group,
    children: navList.filter(o => o.group === group),
  }
})

---

<div>
  <div>
    {grouppedNavList.map(({ group, children }) => (
      <div class="mb-8">
        <h2 class="mb-2 font-bold">{group}</h2>
        <div>
          {children.map(({ group, title, path }) => (
            <a
              class="py-1 block text-sm text-gray-400 hover:text-gray-600"
              href={`/docs/${group.replaceAll(' ', '-').toLowerCase()}/${path}`}
            >
              {title}
            </a>
          ))}
        </div>
      </div>
    ))}
    </div>
</div>
