---
const navList = [
  {
    group: 'Introduction',
    children: [
      {
        title: 'What is GAGU?',
        path: 'what-is-gagu',
      },
      {
        title: 'Installation',
        path: 'installation',
      },
      {
        title: 'Preparation',
        path: 'preparation',
      },
    ],
  },
  {
    group: 'Usage',
    children: [
      {
        title: 'Basic Usage',
        path: 'basic-usage',
      },
      {
        title: 'Scenes',
        path: 'scenes',
      },
    ],
  },
  {
    group: 'Change Log',
    children: [
      {
        title: 'Beta',
        path: 'change-log-v-beta',
      },
    ],
  },
]

---

<div>
  <div>
    {navList.map(({ group, children }) => (
      <div class="mb-8">
        <h2 class="mb-2 font-bold">{group}</h2>
        <div>
          {children.map(({ title, path }) => (
            <a
              class="py-1 block text-sm text-gray-400 hover:text-gray-600"
              href={`/docs/${path}`}
            >
              {title}
            </a>
          ))}
        </div>
      </div>
    ))}
    </div>
</div>
