---
import Layout from '../../layouts/Layout.astro'
import Block from '../../components/Block.astro'
import DocNav from '../../components/DocNav.astro'
---

<Layout title="About - A web-based file management system">
  <Block className="h-100vh pt-20">
    <div class="flex">
      <div class="w-[320px] flex-shrink-0">
        <DocNav />
      </div>
      <div class="flex-grow">
        abc
      </div>
    </div>
  </Block>
</Layout>
