---
import Layout from './Layout.astro'
import Block from '../components/Block.astro'
import DocNav from '../components/DocNav.astro'
import '../css/markdown.css'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <Block className="pt-12 bg-gray-100">
    <div class="flex">
      <div class="hidden lg:block py-10 w-[280px] flex-shrink-0 sticky top-0">
        <DocNav />
      </div>
      <div class="markdown-body py-10 px-8 md:px-10 lg:px-12 xl:px-16 min-h-[100vh] flex-grow">
        <slot />
      </div>
      <div id="contents" class="hidden xl:block py-10 px-4 w-[280px] flex-shrink-0 sticky top-0">
        
      </div>
    </div>
  </Block>
</Layout>
<script is:inline>
const headings = Array.from(document.querySelectorAll('.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6'))
document.getElementById('contents').innerHTML = headings.map(h => `<div>${h.textContent}</div>`).join('')
</script>