---
import Block from "./Block.astro";
import iconGAGU from "/assets/icons/gagu.svg";
import iconNetlify from "/assets/icons/netlify-light.svg";

const year = new Date().getFullYear();
---

<Block className="bg-zinc-900">
  <div
    class="py-5 text-zinc-400 text-xs flex justify-between items-center"
  >
    <div>
      <img src={iconGAGU} class="hidden md:block h-3" />
      <p class="mt-1">©{year} GAGU.JSW.IM</p>
    </div>

    <a target="_blank" href="https://www.netlify.com">
      <img src={iconNetlify} class="h-8" />
    </a>
  </div>
</Block>
