---
import Block from './Block.astro'
import iconGAGU from '/assets/icons/gagu.svg'

const year = new Date().getFullYear()
---

<Block className="bg-zinc-900">
  <div class="py-8 text-zinc-400 text-xs flex justify-center md:justify-between items-center">
    <img
      src={iconGAGU}
      class="hidden md:block h-3"
    />
    <span>©{year} GAGU.IO</span>
  </div>
</Block>
