---
import Block from '../components/Block.astro'
import iconGAGU from '../img/icons/gagu.svg'
---

<Block className="bg-black">
  <div class="py-4 text-gray-400 text-xs flex justify-between items-center">
    <img
      src={iconGAGU}
      class="h-3"
    />
    <span>©gagu.io 2022</span>
  </div>
</Block>
