---
const navList = [
  { label: 'Home', url: '/' },
  { label: 'Docs', url: '/docs' },
  { label: 'GitHub', url: 'https://github.com/Chisw/gagu' },
]
---

<div class="mx-auto max-w-6xl h-12 flex justify-between items-center">
  <a href="/">
    <img
      class="h-12"
      src="/logo.svg"
    />
  </a>
  <div class="flex items-center">
    {navList.map(({ label, url }) => (
      <a
        class="ml-6 font-bold text-yellow-500 hover:text-yellow-600"
        href={url}
        target={url.startsWith('http') ? '_blank' : '_self'}
      >
        {label}
      </a>
    ))}
  </div>
</div>
