---
import '../css/index.css'

export interface LayoutProps {
	title?: string;
}

const { title } = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - GAGU.JSW.IM</title>
		<script is:inline>
			if (['gagu.io', 'gagu-website.netlify.app'].includes(location.host)) {
				location.href = location.href.replace(/(gagu.io)|(gagu-website.netlify.app)/, 'gagu.jsw.im')
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

