---
import Layout from '../layouts/Layout.astro';
import '../css/index.css';
---

<Layout title="GAGU - A cool web file management system">
  <div class="py-20 flex flex-wrap">
    <div class="w-full lg:w-1/2 flex justify-center items-center">
      <div class="text-white font-bold text-center drop-shadow-md">
        <p class="text-5xl">A cool web file management system</p>
        <p class="mt-6 text-xl">Work on macOS, Windows, Linux(planning), and Android/Termux</p>
      </div>
    </div>
    <div class="w-full lg:w-1/2 mt-10 lg:mt-0">
      <img
        src="http://127.0.0.1:9293/screenshot.png"
        class="hidden lg:block"
        style={{
          transform: 'perspective(500px) rotateX(4deg) rotateY(-4deg) rotateZ(1deg) scale(1.1)',
        }}
      />
      <img
        src="http://127.0.0.1:9293/screenshot.png"
        class="block lg:hidden"
        style={{
          transform: 'perspective(500px) rotateX(4deg) rotateY(-4deg) rotateZ(1deg) scale(.9)',
        }}
      />
    </div>
  </div>
  <div class="py-10">
    <div>
      <p class="text-yellow-600 text-sm">Install GAGU on your terminal:</p>
      <code
        class="block mt-2 px-4 py-2 w-full lg:w-1/2 rounded-sm bg-yellow-400 text-yellow-700"
      >
        $ npm i gagu -g
      </code>
    </div>
    <div class="mt-4">
      <p class="text-yellow-600 text-sm">Start GAGU service:</p>
      <code
        class="block mt-2 px-4 py-2 w-full lg:w-1/2 rounded-sm bg-yellow-400 text-yellow-700"
      >
        $ gagu
      </code>
    </div>
  </div>
</Layout>
