---
import Layout from '../layouts/Layout.astro';
import '../css/index.css';
---

<Layout title="GAGU - A cool web file management system">
  <div class="py-20 flex flex-wrap">
    <div class="w-full lg:w-2/3 flex justify-center lg:justify-start items-center">
      <div class="text-yellow-500 font-bold">
        <p class="text-5xl lg:text-7xl">GAGU</p>
        <p class="mt-3 text-5xl">A cool web file management system</p>
        <p class="mt-6 text-xl">Manage your different device files in browser.</p>
        <p class="mt-1 text-xl">Support Windows, macOS, Linux and Android/Termux.</p>
      </div>
    </div>
    <div class="w-full lg:w-1/3 mt-10 lg:mt-0">
      <img
        alt="developing"
        src="http://127.0.0.1:9293/screenshot.png"
        class="hidden lg:block w-full h-full bg-yellow-900"
        style={{
          transform: 'perspective(500px) rotateX(4deg) rotateY(-4deg) rotateZ(1deg) scale(1.1)',
        }}
      />
      <img
        alt="developing"
        src="http://127.0.0.1:9293/screenshot.png"
        class="block lg:hidden w-full h-full bg-yellow-900"
        style={{
          transform: 'perspective(500px) rotateX(4deg) rotateY(-4deg) rotateZ(1deg) scale(.9)',
        }}
      />
    </div>
  </div>
  <div class="py-10">
    <div>
      <p class="text-yellow-500 text-sm">Install GAGU on your terminal:</p>
      <code
        class="block mt-2 px-4 py-2 w-full lg:w-1/3 rounded-sm bg-yellow-900 text-yellow-500"
      >
        $ npm i -g gagu
      </code>
    </div>
    <div class="mt-4">
      <p class="text-yellow-500 text-sm">Start GAGU service:</p>
      <code
        class="block mt-2 px-4 py-2 w-full lg:w-1/3 rounded-sm bg-yellow-900 text-yellow-500"
      >
        $ gagu
      </code>
    </div>
  </div>
</Layout>
