@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "g-sans";
  src: url("./g-sans.woff") format("woff");
}

html, body {
  @apply w-full h-full;
  font-family: "g-sans";
}

*::selection {
  @apply text-black bg-gray-200;
}
