@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "g-sans";
  src: url("./g-sans.woff") format("woff");
}

html, body {
  font-family: "g-sans";
}

*::selection {
  @apply text-[#f3e7ff] bg-[#9F00DE];
}
