@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center-center {
  @apply flex justify-center items-center;
}

@font-face {
  font-family: "g-sans";
  src: url("./g-sans.woff") format("woff");
}

.font-g-sans {
  font-family: "g-sans";
}

*::selection {
  @apply text-purple-950 bg-purple-200;
}
