@font-face {
  font-family: "din";
  src: url("./../fonts/din.woff2");
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.font-din {
  font-family: "din";
}

.bg-loading {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='background:%23f4f5f6' width='43' height='43' preserveAspectRatio='xMidYMid' viewBox='0 0 43 43'%3E%3Cg transform='scale(.17)'%3E%3Cdefs%3E%3Cg id='a' fill='%23fff'%3E%3Cpath d='M256-128h128l-512 512V256zM384 0v128L128 384H0z'/%3E%3C/g%3E%3C/defs%3E%3Cg id='http://jsw.im' transform='translate(196.208)'%3E%3Cuse href='%23a' x='-256'/%3E%3Cuse href='%23a'/%3E%3CanimateTransform attributeName='transform' type='translate' keyTimes='0;1' repeatCount='indefinite' dur='0.5s' values='0 0; 256 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.app-window[data-hidden="true"] {
  display: none !important;
}

.drag-handler:hover + .drag-handler-hover-mask {
  display: block;
}

[data-drag-hover="true"] {
  outline: 3px solid #34D399;
  outline-offset: -3px;
  animation: pulse .6s ease-in-out infinite;
}

.force-outline-none,
.force-outline-none * {
  outline: none !important;
}